.navbar {
    position: fixed;
    background-color: var(--background-secondary);
    height: 10vh;
    width: 100%;
    display: flex;
}

.navbar-logo,
.navbar-nav {
    height: 100%;
    width: 50%;
    margin: 0;
    padding: 0;
}

.navbar-logo {
    align-items: center;
    padding-left: 4vh;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 4vh;
    list-style: none;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-logo .nav-item {
    font-size: 4vh;
}

.navbar-nav .nav-item {
    font-size: 2.5vh;
    margin: 0 2vh;
}

.nav-link {
    color: var(--text-secondary);
    text-decoration: none;
    transition: var(--transition-speed);
}

.navbar-nav .nav-link:hover {
    /* FIXME: Add styles */
}

#curr-template {
    /* FIXME: Add styles */
}
