body {
    display: flex;
}

/* .canvas : START */

.canvas {
    margin-left: 11vh;
    text-shadow: 1px 1px #333333;
    display: flex;
    width: 100%;
}

/* .title-screen : START */

.title-screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title-screen-logo {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex: 1;
    padding-right: 15vh;
}

.title-screen-logo h1 {
    font-size: 18vh;
    font-weight: 100;
    letter-spacing: 0.1ch;
    color: #C75761;
    text-shadow: 2px 2px #2D2D2D;
}

.title-screen-buttons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 25vh;
}

.title-screen-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
}

.title-list-option button {
    margin-left: auto;
    font-size: 8vh;
    color: var(--text-secondary);
    border: none;
    background: none;
    outline: none;
    transition: var(--transition-speed);
    text-shadow: 1px 1px #2D2D2D;
}

.title-list-option button:hover {
    text-shadow: 2px 2px #2D2D2D;
}

/* .title-screen : END */

/* .canvas : END */