* {
    font-family: Futura, serif;
    letter-spacing: 0.1ch;
    font-weight: 100;
    --text-secondary: #FDFEF6;
    --background-primary: #FDFEF6;
    --background-secondary: #8D353C;
    --transition-speed: 200ms ease;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-primary);
}